body {
    background-color:white;
}

.corebiz-barra-navegacao{
    background-color: #2c6d57;
    font-family: 'Lilita One', cursive;
    color: white ;
    font-size: 15px;
    text-align: center;
}

.corebiz-barra-navegacao .navbar-brand {
    font-size: 25px;
}

